[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
"bs4" = "*"
aiohttp = "*"
lxml = "*"
cssselect = "*"

[requires]
python_version = "3.7"
